altgraph==0.17.2
asgiref==3.4.1
auto-py-to-exe==2.10.1
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
boto3==1.23.0
botocore==1.26.0
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.4
click==8.0.3
colorama==0.4.4
decorator==4.4.2
distlib==0.3.4
Django==4.0
django-background-tasks==1.2.5
django-compat==1.0.15
django-filter==21.1
django-storages==1.12.3
Eel==0.12.4
filelock==3.4.0
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.2
imageio==2.19.1
imageio-ffmpeg==0.4.7
instaloader==4.8.1
jmespath==1.0.0
joblib==1.1.0
keyboard==0.13.5
mouse==0.7.1
moviepy==1.0.3
neat-python==0.92
nltk==3.6.7
numpy==1.21.2
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
pefile==2021.9.3
Pillow==8.3.2
platformdirs==2.4.0
proglog==0.1.10
psutil==5.8.0
puppet-master==0.1.0
pycparser==2.20
pygame==2.0.1
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
PyYAML==6.0
regex==2022.1.18
requests==2.26.0
s3transfer==0.5.2
six==1.16.0
soupsieve==2.3.1
sprites==1.39
sqlparse==0.4.2
tqdm==4.62.3
turtle==0.0.1
tzdata==2021.5
urllib3==1.26.6
virtualenv==20.10.0
whichcraft==0.6.1
whitenoise==5.3.0
zope.event==4.5.0
zope.interface==5.4.0
