{% extends 'main.html' %}

{% block content %}

{% load static %}


<div class="del-profile">
    <h1 style="text-align: center;">Are you sure you want to delete {{profile.username}} ?!</h1>
    <div style="width: 50%; margin: 150px auto; display: flex; justify-content: center; align-items: center;">
        <form action="{% url 'delete-profile' profile.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="DELETE" style="background-color: red; width: 300px; height: 200px; border-radius: 10px; color: white; font-size: 60px; text-align: center; font-weight: bold;">
        </form>
    </div>
</div>


{% endblock content %}