{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="login-png">
    <div class="login-elements">
        {% if messages %}
            <ul class="messages" style="border: 2px solid red; display: block; padding: 5px; background-color: white; margin: 0 auto; width: 40%; text-align: center;">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="font-size: 18px;">{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}
        <div class="login-wrapper-special">
            <form action="{% url 'create-story' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.file_upload.label}}
                {{form.file_upload}}
                {{form.story_length.label}}
                <div id="regular_time" style="display: block;">
                    {{form.story_length}}
                </div>
                <div id="custom_time" style="display: none;">
                    {{form.story_length_custom}}
                </div>
                <input id="login-btn" type="submit" value="Post">
            </form>
        </div>
    </div>
</div>

{% endblock content %}